body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #CCC0C1;
}

header {
    background-color: #407F7F;  /* Blue color */
    padding: 20px;
    color: white;  /* Text color inside header */
}

section {
    margin: 22px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);  /* Start and end at the original position */
    }
    50% {
        transform: translateY(-20px);  /* Move 20px upwards in the middle of the animation */
    }
}

h1 {
    animation: bounce 5s 3;  /* Slower bounce (5 seconds) and stops after 3 times */
}

